#save,#cancel
{
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  left:650px
}
#opt
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:relative;
    left: 100px;
    bottom: 500px;
}

#cont
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 600px;
    position:relative;
    left: 100px;
    bottom: 470px;
}
#content
{
    height: 400px;
}
#new
{
    background-image: linear-gradient(#95aeb1, #3d4249);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
  position: relative;
  left:670px;
}

