#sav
{
    background-image: linear-gradient(#ea1c0d, #e47140);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
}
#can
{
    background-image: linear-gradient(#099b46, #77e440);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: rgb(4, 18, 84);
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position:relative;
    left: 150px;
   
}
 

.w-25
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:relative;
    bottom: 400px;
}